doctype html
head
  title form 테스트
h1 이름
  p  #{name}
h1 이메일
  p  #{email}
h1 홈페이지
  p  #{homepage}

form#Form(action='/form' method='post')
  table(width='400')
    tr
      th 이름
      td
        input#name(type='text', name='name', size='10', maxlength='10')
    tr
      th 이메일
      td
        input#name(type='text', name='name', size='10', maxlength='10')
    tr
      th 홈페이지
      td
        input#name(type='text', name='name', size='10', maxlength='10')
    tr
      th 전송
      td
        input(type='submit')

