extends layout.pug

block nav
  nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    div.container-fluid
      a.navbar-brand(href='/') #{title}
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
      div#navbarColor01.collapse.navbar-collapse(style={"word-break" : "nowrap"})
        ul.navbar-nav.me-auto
          li.nav-item
            a.nav-link.active(href='/') HOME
          li.nav-item
            a.nav-link(href='/board/page') Boardlist
          li.nav-item
            a.nav-link(href='/mysql') DB test
          li.nav-item
            a.nav-link(href='#') About
          
      form.d-flex
        input.form-control.me-sm-2(type='text', placeholder='Search')
        button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search
    
block content    
    div(class='col-lg-8')
      br
      h1 TEST BOARD HOMEPAGE  
        //- button.btn.btn-lg.btn-primary(type='button', onclick="location.href='/board/page'" ) 게시판 리스트 이동
  
      //- a(href='/board/page' style={"font-weight": "bold"})= "게시판 리스트 이동"
