extends layout.pug

block nav
  nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    div.container-fluid
      a.navbar-brand(href='/mysql') #{title}
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
      div#navbarColor01.collapse.navbar-collapse(style={"word-break" : "nowrap"})
        ul.navbar-nav.me-auto
          li.nav-item
            a.nav-link(href='/') HOME
          li.nav-item
            a.nav-link(href='/board/page') Boardlist
          li.nav-items
            a.nav-link.active(href='/mysql') DB test
          li.nav-item
            a.nav-link(href='#') About       
      form.d-flex
        input.form-control.me-sm-2(type='text', placeholder='Search')
        button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search
    
block content    
  div(class='col-lg-8')
    br
    div.card.text-white.bg-success.mb-3(style='max-width: 20rem;')
      div.h5.card-header 연결 여부 ( Contention )
      div.card-body
        h3.card-title #{connect}

    div.card.text-white.bg-danger.mb-3(style='max-width: 20rem;')
      div.h5.card-header 오류 여부 ( Error )
      div.card-body
        h3.card-title #{err}
    
    






