extends layout.pug

block nav
  nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    div.container-fluid
      a.navbar-brand(href='/board/write') #{title}
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
      div#navbarColor01.collapse.navbar-collapse(style={"word-break" : "nowrap"})
        ul.navbar-nav.me-auto
          li.nav-item
            a.nav-link(href='/') HOME
          li.nav-item
            a.nav-link.active(href='/board/page') Boardlist
          li.nav-item
            a.nav-link(href='/mysql') DB test
          li.nav-item
            a.nav-link(href='#') About         
      form.d-flex
        input.form-control.me-sm-2(type='text', placeholder='Search')
        button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search

block content
  br
  div(class='col-lg-4')
      //- form(action='/board/write' method='post')
      //- form(name='form', method='post')
      table(class='table table-bordered')
        tr
          td 작성자
          td
            input#name(type='text', name='name', class='form-control', placeholder="이름를 입력해주세요.", required)
        tr
          td 제목
          td
            input#title(type='text', name='title', class='form-control', placeholder="제목을입력해주세요.", required)
        tr
          td 내용
          td 
            textarea#content(name='content', cols='30', rows='10', class='form-control', placeholder="내용을입력해주세요.", required)
        tr
          td 비밀번호
          td
            input#passwd(type='password', name='passwd', class='form-control', placeholder="Password", required)   
        tr
          td(colspan='2')
            button.btn.btn-success(onclick="writeBtn()") 글쓰기
            button.btn.btn-secondary.float-right(type='button', onclick="goPage()") 목록으로
      //- a(href='/board/page') 목록

  script.
    function writeBtn() {
      const write = {
        name: document.getElementById("name").value,
        title: document.getElementById("title").value,
        content: document.getElementById("content").value,
        passwd: document.getElementById("passwd").value,
        regdate: new Date().toLocaleString(),
        modidate: new Date().toLocaleString(),
      };
      axios.post("/board/write", write).then(function (result) {
        if (result.data) {
          alert("등록 되었습니다.");
          location.href = "/board/page";
        }
        else {
          alert("등록이 실패하였습니다.");
        }
      });
    }
      
    //- function writeBtn() {
    //-   //- alert("등록되었습니다.");
    //-   form.action='/board/write'
    //- }
  
    function goPage() {
        location.href='/board/page'
    }