doctype html
html
  head
    title #{title}
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    h1 #{title}
    //- form(action='/board/write' method='post')
    form(name='form' method='post')
      table(border='1')
        tr
          td 작성자
          td
            input#name(type='text' name='name' required)
        tr
          td 제목
          td
            input#title(type='text' name='title' required)
        tr
          td 내용
          td 
            textarea#content(name='content' cols='30' rows='10' required)
        tr
          td 비밀번호
          td
            input#passwd(type='password' name='passwd' required)
        tr
          td(colspan='2')
            button(type='submit', onclick="writeBtn()") 글쓰기

    a(href='/board/page') 목록

script.
  function writeBtn() {
    alert("등록되었습니다.");
    form.action='/board/write'    
  }