doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title #{title}
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css')

  body
    h1 #{title}
    //- form(action='/board/write' method='post')
    br
    div(class='col-lg-4')
      form(name='form', method='post')
      table(class='table table-bordered')
        tr
          td 작성자
          td
            input#name(type='text' name='name' required)
        tr
          td 제목
          td
            input#title(type='text' name='title' required)
        tr
          td 내용
          td 
            textarea#content(name='content' cols='30' rows='10' required)
        tr
          td 비밀번호
          td
            input#passwd(type='password' name='passwd' required)
        tr
          td(colspan='2')
            button(type='submit', onclick="writeBtn()") 글쓰기
      a(href='/board/page') 목록

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='js/bootstrap.min.js')


script.
  function writeBtn() {
    alert("등록되었습니다.");
    form.action='/board/write'    
  }